 @import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Abel');

body {
    background-image:url("https://img.freepik.com/free-vector/blue-abstract-acrylic-brush-stroke-textured-background_53876-86373.jpg?size=626&ext=jpg");
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  background-position: center; 
}

#greeting {
    font-family: 'Montserrat', sans-serif;
    font-size:50px;
    color:rgb(95, 203, 248);
}

#descrip-of-web {
    font-family: 'Abel', sans-serif;
    font-size:30px;
}

h2 {
 font-family: 'Abel', sans-serif;
 font-size:29px;  
 color:rgb(90, 99, 112);
}

h1 {
    font-family:'Montserrat', sans-serif; 
    color:rgb(95, 203, 248);
}
p {
    font-family: 'Abel', sans-serif;
       font-size:25px;
}
#Main-body {
 display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items: center;
  margin:auto;
  padding:40px;
 
}
img {
  display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items: center;
  margin:auto;
  padding:40px;   
}
select {
  font-family: 'Montserrat', sans-serif;
  font-size:40px;
  color:rgb(90, 99, 112);
  background-image:url("https://img.freepik.com/free-vector/abstract-paper-hexagon-white-background_51543-7.jpg?size=626&ext=jpg");
  position: relative;
  top: 0px;
  border-radius:35px;
  display:flex;
  justify-content:center;
  align-items: center;
}
 




#descrip-of-web {
    font-family: 'Abel', sans-serif;
    font-size:30px;
}

dt {
 font-family: 'Abel', sans-serif;
 font-size:40px;  
    color:rgb(95, 203, 248);
}
#book-heading {
font-family: 'Abel', sans-serif;
font-size:40px;  
color:rgb(95, 203, 248); 
}

dd  {
    font-family:'Montserrat', sans-serif; 
    font-size:20px;
}
p  {
    font-family: 'Abel', sans-serif;
       font-size:25px;
}

ul {
font-family: 'Abel', sans-serif;
       font-size:25px;
}
#Main-body {
 display:flex;
  flex-direction:column; 
  justify-content:center;
  align-items: center;
  margin:auto;
  padding:40px;
 
}

footer {
border: 10px;
border-color:rgb(95, 203, 248);
border-style: groove;
}

.footer {
   font-family: 'Abel', sans-serif;
font-size:20px;  
display:flex;
  flex-direction:row; 
  justify-content:center;
  align-items: center;
  margin:auto;
  padding:10px;  
}

 #moto {
    font-family:'Montserrat', sans-serif; 
    color:rgb(95, 203, 248);
 }
 
#yay {
    font-family:'Montserrat', sans-serif; 
 font-size:29px;  
 color:rgb(90, 99, 112);  
}
a:visited {
    color:rgb(97, 1, 186); 


}

a:link {
  color: rgb(104, 61, 244);
   list-style-type:none;
}
/* mouse over link */
a:hover {
    color:rgb(21, 255, 0);
}
